* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.transactions-wrapper {
    text-align: center;
}

.transactions h2 {
    padding: 15px;
}


.transaction-list {
    display: flex;
}

.income-area,
.expenses-area {
    border: 1px solid black;
    flex-grow: 2;
    padding: 10px;
    margin: 3px;
}

.transaction {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 15px 0;
    position: relative;
}

.transaction button {
    border: none;
    background-color: none;
    color: red;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.options {
    margin-top: 15%;

    text-align: center;
    padding: 20px;
}

.options button {
    padding: 10px;
    margin: 5%;
}

.add-transaction-panel {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}

.panel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    
}

.add-transaction-panel .title {
   padding: 5%;
}

.add-transaction-panel input {
    padding: 5px;
    border: 1px solid black;
}

.add-transaction-panel select {
    padding: 5px;
    border: 1px solid black;
}

 .form-box {
   margin: 20% 0;
   font-size: 24px;
}

.add-transaction-panel button {
    padding: 25px;
    margin: 10%;
    border-radius: 10px;
}

.add-transaction-panel .title,
.add-transaction-panel input,
.add-transaction-panel select,
.add-transaction-panel button {
    background-color: grey;
    color: white;
    text-shadow: 2px 2px #000000;
    
}


/* errors */ 
.error-msg,
.error-transaction-name,
.error-transaction-amount,
.error-transaction-option {
    color: rgb(149, 6, 6);
    display: none;
}